@using SchoolTemplate.Database;
@model Festival
@{
    ViewData["Title"] = "Festival";
    List<FestivalDag> festivalDagen = ViewData["festivaldagen"] as List<FestivalDag>;
}

<h1>@Model.Naam</h1>
<div class="festival">
    <img src="~/@Model.Afbeelding" />
</div>


@foreach(FestivalDag f in festivalDagen)
{
    <p> @f.Datum.ToString("d") </p>
<p>
    @f.Start - @f.Eind 
</p>

}
<p>
    @Model.Beschrijving
   
</p>
<p>  €  @Model.Prijs
    </p>