@using SchoolTemplate.Database;
@model Festival
@{
    ViewData["Title"] = "Festival";
}

<h1>@Model.Naam</h1>
<p>
    @Model.Beschrijving
    @Model.Datum
    @Model.Tijd
    @Model.Prijs
    @Model.Beschikbaarheid
</p>

