@using SchoolTemplate.Database;
@model Festival
@{
    ViewData["Title"] = "Festival";
    List<FestivalDag> festivalDagen = ViewData["festivaldagen"] as List<FestivalDag>;
}

<h1>@Model.Naam</h1>

<p>
    @Model.Beschrijving
    €  @Model.Prijs
</p>


@foreach(FestivalDag f in festivalDagen)
{
    <p> @f.Datum.ToString("d") </p>
<p>
    @f.Start - @f.Eind 
</p>

}
