@using SchoolTemplate.Database;
@model Festival
@{
    ViewData["Title"] = "Festival";
    List<FestivalDag> festivalDagen = ViewData["festivaldagen"] as List<FestivalDag>;
}

<h1>@Model.Naam</h1>
<div class="column-festival">
    <div class="festival-img">
        <!--haal foto's op uit de database en worden vervolgens neergezet-->
        <img class="festival-fotos" src="@Model.Afbeelding" />
    </div>

    <div class="festival-text">
        <div class=" festival-beschrijving"
                  </div>

        <!--haal data op uit de database en wordt vervolgens neergezet-->
        @foreach (FestivalDag f in festivalDagen)
        {
            <h3>@f.Datum.ToString("D") <br /> @f.Start- @f.Eind</h3>
            <h6>
                @Model.Beschrijving <br />
                <h6>Prijs: €  @Model.Prijs per stuk.</h6>
            </h6>



        }
    </div>
    </div>
